.DS_Store
.idea
dist
node_modules
design/_.md
rule.md
.env
.aiassistant
.github

.qoder
.gemini
GEMINI.md.bak
CODEBUDDY.md
docs
.qoderignore
design/udf.md
design/udf_3.md
prompts/
*.md
AGENTS_bak
.opencode
session*